<div class="container-fluid">
	<div class='container'>
		<div class='table'>
      		<div id='rim' class='button_container'>
    			<button class="click">Click Me!</button>
    		</div>
    	</div>
    </div>
</div>